<div class="container mt-5">
        <div class="alert alert-success" role="alert">
            ¡ se ha eliminado el empleado con éxito!
        </div>
    </div>

    <td>
                   <a class="btn btn-primary" style="text-decoration: none;" asp-controller="Empleados" asp-action="Index" >Regresar a la lista de empleados</a>
                    
                </td>   